* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol {
    padding-inline-start: 0%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color:rgba(31, 133, 228, 0.89);
}

li {
    text-align: center;
    list-style: none;
    padding: 50px;
    width: auto;
    border: 2px solid red;
}
#overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 31, 194, 0.897);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
